.fullTile {
  background-color: darken(red, 10%);
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pokemonImageContainer {
  width: 100%;
  height: 35%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottomLeftContentContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 60%;

  .descriptionContentContainer {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: salmon;
  }
}
